.classDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/534/324/892/alaskan-malamute-dogs-wallpaper-for-desktop-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  
  .detail {
    border: 1px solid #cccccc;
    border-radius: 1em;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background-color: var(--glow-color);
    background-color: var(--glow-color);
    --glow-color: #2980b9;
    --glow-spread-color: white;
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 20em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    border-radius: 3em;
  }
  
  .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .h2 {
    margin-bottom: 10px;
  }
  
  h5 {
    margin-bottom: 5px;
  }
  
  