/* Nav.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.menu {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.navItem {
  margin: 0;
  padding: 8px;
}

.searchBar {
  flex: 0.5;
  margin-left: 39em;


}
