/* Home.module.css */

.container {
  padding: 20px;
}

.selectcontainer {
  margin-bottom: 30px;
  
}

.botonfiltro {
  padding: 8px;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 8px solid #3498db;
  font-size: 20px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2em;
}

.button:hover {
  background-color: #2980b9;
}
