/* Home.module.css */

.container {
  padding: 20px;
  background-color: 	#708090;
  
}

.selectcontainer {
  margin-bottom: 30px;
  
}

.botonfiltro {
  padding: 8px 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  background-color: var(--glow-color);
  --glow-color: #2980b9;
  --glow-spread-color: white;
  box-shadow: 0 0 1em .25em var(--glow-color),
  0 0 20em 1em var(--glow-spread-color),
  inset 0 0 .75em .25em var(--glow-color);
  border-radius: 3em;
}
.botonfiltro option {
  background-color: #fa8072;
}
.botonfiltro:hover {
  --glow-color: #2980b9;
  --glow-spread-color: #2980b9;
  background-color: var(--glow-spread-color);
  box-shadow: 0 0 2em 1em var(--glow-spread-color),
              inset 0 0 .75em .25em var(--glow-color);
}



.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.button {
  padding: 8px 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  background-color: var(--glow-color);
  background-color: var(--glow-color);
  --glow-color: #2980b9;
  --glow-spread-color: white;
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
  0 0 20em 1em var(--glow-spread-color),
  inset 0 0 .75em .25em var(--glow-color);
  border-radius: 3em;
}

.button:hover {
  
    --glow-color: #2980b9;
    --glow-spread-color: #2980b9;
    background-color: var(--glow-spread-color);
    box-shadow: 0 0 2em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
  
}
